.cs-site_branding {
  display: inline-block;
  margin-top: 15px;
}

.cs-funfact_wrap_2 .cs-funfacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -12px;
}

.cs-shine_hover_1 {
  position: relative;
  overflow: hidden;
  margin-left: -278px;
}

.cs-shine_hover_1::before {
  content: '';
  position: null;
  top: 0;
  left: null;
  z-index: null;
  width: 50%;
  height: 100%;
  background: null;
  background: null;
  -webkit-transform: null;
  transform: null;
  z-index: 1;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -167px;
}

.column1 {
  flex: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image1 {
  /* background-image: url(../../img/img8.png); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  padding: 305px;
  margin-left: -230px;
  background: transparent;
}

.text1 {
  justify-content: left;
  text-align: justify;
}

.cs-section_heading {
  margin-top: 219px;
}

@media (max-width: 768px) {
  .column1 {
    flex: 100%;
  }

  .image1 {
    /* background-image: url(../../img/aviation1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 177px;
    margin-left: -230px; */
    display: none;
  }
}

@media (max-width: 768px) {
  .cs-section_heading {
    margin-top: 148px;
  }
}

.bttn1 {
  background-color: #f4ca5800;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}

.bttn1:hover {
  background-color: #ffffff;
  color: black;
}

.placement-section {
  text-align: center;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
}

.main-heading {
  font-size: 48px;
  margin-bottom: 30px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  flex-basis: 50%;
  padding: 0 15px;
}

.bttn2 {
  background-color: #f4ca5800;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  margin-left: -400px;
}

.bttn2:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .col1 {
    flex: 100%;
  }

  .bttn2 {
    background-color: #f4ca5800;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    margin-left: -189px;
  }
}

.pp {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: justify;
}

.placement-image {
  margin-top: 20px;
  max-width: 100%;
  height: 436px;
}

.cs-slider.cs-style3
  .slick-active
  .cs-portfolio.cs-style1
  .cs-portfolio_info_bg {
  left: 35px;
  top: -47px;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.cs-slider.cs-style3 .cs-portfolio.cs-style1 .cs-portfolio_info_bg {
  left: -20px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cs-portfolio.cs-style1 .cs-portfolio_info_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.cs-accent_bg,
.cs-accent_bg_hover:hover {
  background-color: #626262d4;
}

.cs-slider.cs-style3 .slick-active .cs-portfolio.cs-style1 .cs-portfolio_title {
  left: 0px;
  opacity: 1;
  top: -70px;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.cs-slider.cs-style3
  .slick-active
  .cs-portfolio.cs-style1
  .cs-portfolio_subtitle {
  left: 0px;
  opacity: 1;
  top: -65px;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.cs-portfolio.cs-style1 .cs-portfolio_subtitle::after {
  content: '';
  height: 1px;
  width: 20px;
  background-color: currentColor;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  color: transparent;
  margin-top: 2px;
}

@media screen and (min-width: 992px) {
  .cs-height_150 {
    height: 32px;
  }
}

.btn2 {
  background-color: #ffec5d;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .btn2 {
    display: none;
  }
}

.btn3 {
  background-color: #d5b15d;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}
.btn3:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 1200px) {
  .c1 {
    display: none;
  }
}

body {
  position: relative;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 498px;
  height: 878px;
  z-index: -1;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Set an appropriate height if needed */
}

.nav-title {
  text-align: center;
}

.header-image {
  background-image: url(assets/img/bg4.png);
}

.section-1-bg {
  background-color: #7b7d7c;
}

@media only screen and (max-width: 600px) {
  .this1 {
    display: none;
  }

  .this2 {
    margin-top: 8px;
    margin-bottom: -37px;
  }

  .this3 {
    margin-top: -82px;
  }
}

.cs-footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cs-mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  height: auto;
  width: 100%;
  /* 04091D */
  background-color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  /* Add this line to vertically center the content */
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 25px;
  align-items: center;
  gap: 25px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  white-space: nowrap;
  position: relative;
}

.nav > .nav-links > a::after {
  content: '|';
  width: 1px;
  height: 100%;
  position: absolute;
  right: -17%;
  top: 50%;
  transform: translateY(-25%);
}

.nav > .nav-links > a.btn::after {
  display: none;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 24px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 20px 10px 10px 25px;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 99;
    background-color: #03050e;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.imgg5 {
  width: 302px;
  margin-bottom: 1px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .imgg5 {
    width: 197px;
    margin-bottom: -13px;
    margin-top: 3px;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  text-align: center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/shape/dot-grid.png);
}

.nav > .nav-links > a:hover {
  color: #d5b15d;
}

.nav {
  height: auto;
  width: auto;
  background-color: #000000;
  position: relative;
  display: flow;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
  }
}

.header-video {
  position: relative;
  width: 100%;
  height: auto;
}

.background-video {
  width: 100%;
  height: 352px;
  object-fit: cover;
}

.content-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content-overlay h1 {
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.btn-shine {
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: linear-gradient(to right, #ffcc5d 0, #ffcc5d 10%, #fff 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 246px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 410px;
  }

  100% {
    background-position: 410px;
  }
}

@media (max-width: 600px) {
  .btn-shine {
    font-size: 20px;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }

    60% {
      background-position: 410px;
    }

    100% {
      background-position: 410px;
    }
  }
}

.m1 {
  margin-top: 50px;
  margin-left: -43px;
}

.m2 {
  margin-top: 1px;
  margin-left: -43px;
}

.m3 {
  margin-top: 67px;
  margin-left: -43px;
}

@media only screen and (max-width: 600px) {
  .m1 {
    margin-top: 50px;
    margin-left: -43px;
  }

  .m3 {
    margin-top: -60px;
    margin-left: -43px;
  }
}

.card3 {
  width: 535px;
  height: 440px;
  padding: 25px;
  border-radius: 12px;
  color: white;
  background: transparent;
  border: 2px solid #d5b15d;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 600px) {
  .card3 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.card3 .main-content {
  flex: 1;
  margin-bottom: -10px;
}

.header {
  margin-bottom: 24px;
}

.card3 .heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 33px;
  color: #ffcc5d;
}

.card3 .footer {
  font-weight: 400;
  margin-right: 4px;
}

.card3:hover {
  border-radius: 12px;
  background-color: #d5b15d;
  scale: 0.95;
  color: #fff;
  box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}

/* CSS Multiple Whatsapp Chat */
.whatsapp-name {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.5;
}

#whatsapp-chat {
  box-sizing: border-box !important;

  outline: none !important;
  position: fixed;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 90px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 1s;
  transform: scale(1);
}
a.blantershow-chat {
  /*   background: #009688; */
  background: #fff;
  color: #404040;
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 25px;
  right: 30px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}
a.blantershow-chat svg {
  transform: scale(1.2);
  margin: 0 10px 0 0;
}
.header-chat {
  /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
  background: #009688;
  background: #095e54;
  color: #fff;
  padding: 20px;
}
.header-chat h3 {
  margin: 0 0 10px;
}
.header-chat p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}
.info-avatar {
  position: relative;
}
.info-avatar img {
  border-radius: 100%;
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
}

a.informasi {
  padding: 20px;
  display: block;
  overflow: hidden;
  animation-name: showhide;
  animation-duration: 0.5s;
}
a.informasi:hover {
  background: #f1f1f1;
}
.info-chat span {
  display: block;
}
#get-label,
span.chat-label {
  font-size: 12px;
  color: #888;
}
#get-nama,
span.chat-nama {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}
#get-label,
#get-nama {
  color: #fff;
}
span.my-number {
  display: none;
}
/* .blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
} */
textarea#chat-input {
  border: none;
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 50px;
  outline: none;
  color: black;
  resize: none;
  padding: 10px;
  font-size: 14px;
}

a#send-it {
  width: 50px;
  font-weight: 700;
  padding: 10px 10px 0;
  background: #eee;
  border-radius: 0px;

  svg {
    fill: #a6a6a6;
    height: 24px;
    width: 24px;
  }
}

.first-msg {
  background: transparent;
  padding: 30px;
  text-align: center;
  & span {
    background: #e2e2e2;
    color: #333;
    font-size: 14.2px;
    line-height: 1.7;
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-block;
  }
}

.start-chat .blanter-msg {
  display: flex;
}
#get-number {
  display: none;
}
a.close-chat {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;
}

@keyframes ZpjSY {
  0% {
    background-color: rgb(182, 181, 186);
  }
  15% {
    background-color: rgb(17, 17, 17);
  }
  25% {
    background-color: rgb(182, 181, 186);
  }
}

@keyframes hPhMsj {
  15% {
    background-color: rgb(182, 181, 186);
  }
  25% {
    background-color: rgb(17, 17, 17);
  }
  35% {
    background-color: rgb(182, 181, 186);
  }
}

@keyframes iUMejp {
  25% {
    background-color: rgb(182, 181, 186);
  }
  35% {
    background-color: rgb(17, 17, 17);
  }
  45% {
    background-color: rgb(182, 181, 186);
  }
}

@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    left: 5%;
    right: 5%;
    font-size: 80%;
  }
}
.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}
.show {
  display: block;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.whatsapp-message-container {
  display: flex;
  z-index: 1;
}

.whatsapp-message {
  padding: 7px 14px 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
  padding: 20px 20px 20px 10px;
  background-color: rgb(230, 221, 212);
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.08;
    background-image: url('https://elfsight.com/assets/chats/patterns/whatsapp.png');
    // background-image: url(https://res.cloudinary.com/eventbree/image/upload/v1575782560/Widgets/whatsappbg_opt.jpg);
  }
}

.dAbFpq {
  display: flex;
  z-index: 1;
}

.eJJEeC {
  background-color: rgb(255, 255, 255);
  width: 52.5px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.1s ease 0s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
  position: relative;
  display: flex;
}

.ixsrax {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  background-color: rgb(158, 157, 162);
  animation-name: ZpjSY;
}

.dRvxoz {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  background-color: rgb(182, 181, 186);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  animation-name: hPhMsj;
}

.kAZgZq {
  padding: 7px 14px 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
  &::before {
    position: absolute;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    top: 0px;
    left: -12px;
    width: 12px;
    height: 19px;
  }
}

.bMIBDo {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: rgb(17, 17, 17);
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: rgb(17, 17, 17);
}

.cqCDVm {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.5);
  margin-right: -8px;
  margin-bottom: -4px;
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
